name: CI Cross Build Runtime

on:
  push:
    branches: runtime/5.x
    tags: '*'
  workflow_dispatch:
    inputs:
      targetBranch:
        description: Target Branch
        required: true
        default: runtime/5.x

jobs:
 checkout_job:
   runs-on: ubuntu-latest
   steps:
      - name: Checkout Correct Branch        
        run: echo "##[set-output name=branch;]${GITHUB_REF#refs/heads/${{ github.event.inputs.targetBranch }}}"
        id: extract_branch
      - name: Checkout 2
        uses: actions/checkout@v2
        with:
         fetch-depth: 1
         ref: ${{ steps.extract_branch.outputs.branch }}
         token: ${{ secrets.runtimecheckout }}
#run might be better than whatever this mess I created is
#actions also pulls the image before variables are declared so hard-coded 
 build_job:
   runs-on: ubuntu-latest
   needs: checkout_job
   env:
    ROOTFS_ENV: ROOTFS_DIR=/crossrootfs/x64
    DOTNET_DOCKER_SERVER: mcr.microsoft.com/dotnet-buildtools/prereqs
    DOTNET_DOCKER_FALLBACK_TAG: ubuntu-18.04-cross-freebsd-12-20201218203401-f13d79e
   container: 
    image: mcr.microsoft.com/dotnet-buildtools/prereqs:ubuntu-18.04-cross-freebsd-12-20201218203401-f13d79e
    volumes: 
     - $(pwd):/runtime
    options: -e $ROOTFS_DIR
   steps:
     - name: Build Linux->FreeBSD
       run: /runtime/build.sh -c Release -cross -os freebsd
 publish_job:
   runs-on: ubuntu-latest
   needs: [checkout_job, build_job]
   steps:
    - name: Upload Artifacts
      uses: actions/upload-artifact@v2
      with:
       name: artifacts
       path: artifacts/packages/Release/Shipping/*
          
#WTB Official Github Action for uploading more than one file. PST.
    - name: Upload Release Assets
      run: |
          artifacts=
          for artifact in artifacts/packages/Release/Shipping/*.*; do
            artifacts="$artifacts -a $artifact"
          done
          hub release create $artifacts -m crossbuilt-${{ steps.extract_branch.outputs.branch }} ${{ steps.extract_branch.outputs.branch }}
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
